#toasts {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #131b23;
    color: #e9f1f7;
    padding: 10px 14px;
    margin: 0px 6px 6px 0px;
    border-radius: 3px;
    font-size: 16px;
    cursor: default;
    pointer-events: none;
}

.toast_header {
    font-weight: 600;
    font-size: 13px;
}

.toast_description {
    color: #a1a8ad;
    font-weight: 400;
    font-size: 11px;
}

.toast_description > b {
    font-size: 11px;
    font-weight: normal;
    color: #e9f1f7;
}

.toast::after {
    font: var(--fa-font-solid);
    content: "\f00d";
    margin-left: 14px;
    cursor: pointer;
    pointer-events: all;
}
